/* */


p.card-text {
	color:  black;
}

a.card-link {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

button.btn-link, button.btn-link:hover {
	text-decoration: none;
	color:white;	
	font-weight: 900;
	font-size: 1.3em;
}

.fig-caption {
	font-size: 0.8em;
	font-style: italic;
}

code {
	white-space: pre-line;
	color: green;
}

#first_demo_link {
	padding-bottom: 10px
}

.textGen-results{
	font-style: italic;
	font-weight: bold;
	
}

.st_pic {
	padding: 10px;
}

.darker_bg {
	background-color: RGBA(61,21,40, 0.3);
}

.lighter_bg {
	background-color: RGBA(61,21,40, 0.1);
}

.adjusted_button {
	background-color:  RGBA(81, 4, 94);
	border-color: RGBA(81, 4, 94);
}


.adjusted_link {
	color:  RGBA(81, 4, 94, 0.7);
}